.top-contact-bar {
  height: 50px;
  display: flex;
  flex-direction: row;
  column-gap: 160px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(188, 185, 185);
  margin-top: 0px;
}

.contact-info-group {
  display: flex;
  align-items: center;
  justify-content: row;
  column-gap: 15px;
  font-size: 16px;
  margin-left: 100px;
}

.top-contact-bar .contact-info-group p {
  color: rgb(182, 183, 184);
}

.contact-info-group .email-with-icon {
  display: flex;
  align-items: center;
  justify-content: row;
  padding-right: 20px;
}

.contact-info-group .email-with-icon p {
  padding-right: 50px;
  border-right: 1px solid rgb(174, 173, 173);
}

.contact-icon {
  color: #f35525;
  margin-right: 9px;
}

.social-media-group {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  align-items: center;
  margin-right: 100px;
}
.social-media-group div {
  background-color: rgb(180, 182, 182);
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.social-icon {
  color: white;
}

.social-media-group div i {
  padding: 7px;
  cursor: pointer;
}

.social-media-group div:hover {
  background-color: #f35525;
}

@media (max-width: 1010px) {
  .top-contact-bar {
    display: none;
  }
}
