.header1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}
.right-section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 100px;
  column-gap: 59px;
}
.villa {
  font-size: 25px;
  margin-left: 70px;
  font-weight: 700;
  cursor: pointer;
}

.right-section1 div p {
  font-weight: 600;
}

.right-section1 div p:hover {
  color: #f35525;
  cursor: pointer;
}

.schedule-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 36px;
  background-color: rgb(4, 4, 4);
  border-radius: 17px;
  color: white;
  cursor: pointer;
}
.calender-div {
  background-color: #f35525;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin-left: -2px;
}

.schedule-button div p {
  padding: 16px;
}

.fa-calendar {
  padding: 10px;
}
